{% extends 'base.html.twig' %}

{% block title %} NØVA DANSE Back Office{% endblock %}

{% block body %}
<style>

h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Arial', sans-serif;
    color: #333;
}
p {
    text-align: center;
    font-size: 18px;
    color: #666;
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
form input{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

</style>
<h1>Bienvenue dans le Back Office de NØVA DANSE</h1>
<p>veuillez vous identifier pour acceder aux differentes fonctionnalites</p>
<form method="post" action="">
    <div class="form-group">

        <input type="text" id="username" name="_username" placeholder="Identifiant" class="form-control" required autofocus>
    </div>
    <div class="form-group">

        <input type="password" id="password" name="_password" placeholder="Mots de passe" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Se connecter</button>



{% endblock %}
